.contact__title {
  color: var(--primary-text-color);
}
.address__link {
  color: var(--text-color);
  font-style: normal;
}
.contact__top-text {
  color: var(--primary-text-color);
}
.contact__text {
  color: var(--text-color);
}
