.page-social {
  align-items: center;
  // desktop
  // width: 608px;
  // height: 66px;
  //   transform: rotate(-90deg) translate(50%, -260px);
  //   & li + li {
  //     margin-left: 40px;
  //   }
}
.page-social__link {
  color: var(--special-color);
  letter-spacing: 0.2em;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
// .hero__box-text {
//   padding-top: 150px;
//   margin-left: 200px;
// }
.hero__container {
  background-image: url(../../image/hero1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1070px;
}
.hero__top-text {
  color: var(--transparent-color);
}
.hero__title {
  font-size: 72px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--primary-text-color);
}
.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;

  color: var(--text-color);
}
.slide {
  bottom: 25px;
  right: 50px;

  color: var(--transparent-color);
  text-align: center;
}
.slide__back {
  width: 60px;
  height: 24px;
  margin-right: 25px;

  border-bottom: 1px solid var(--transparent-color);
  text-align: left;

  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
}
.slide__forward {
  width: 60px;
  height: 24px;

  border-bottom: 1px solid var(--transparent-color);
  text-align: right;

  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
}
