.master__title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
}
.master__text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--accent-color);
}
