.price__text {
  color: var(--transparent-color);
}
.price__title {
  color: var(--primary-text-color);
}
.price__list-one {
  color: var(--text-color);
}
.price__list-two {
  color: var(--text-color);
}
