:root {
  --primary-page-color: #ffffff;
  --primary-text-color: #ffffff;
  --accent-color: #ff6c00;
  --transparent-color: #9da4bd99;
  --text-color: #9da4bd;
  --special-color: #303030;
  --paragraph-color: #555555;
  --form-color: ##9da4bd66;
  --form-contact-bg: #191c26;
  --hero-shadow: #191c2633;
  --price-bg: #111319;
  --price1-gradient100: #171a24;
  --price-gradient20: #171a2433;
  --price2-gradient100: #090b13;
  --price2-gradient20: #090b1333;
  --bg-feature-price-footer: #f7f7f7;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$logo-font: Raleway, sans-serif;
$base-font: Open Sans, sans-serif;

$font-paragraph: 11px;
$font-medium: 18px;
$font-title: 42px;

.page {
  background-color: #d7c1c1;
  color: var(--special-color);

  font-family: $base-font;
  font-weight: 600;
  font-size: $font-paragraph;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
.button {
  border-color: var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  color: var(--primary-text-color);

  font-family: $base-font;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.49;
  letter-spacing: 0.09em;
  text-align: center;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.title {
  font-family: $logo-font;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.primary-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
